/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-hero {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 687px;
  height: 100vh;
  overflow: hidden;
  &__text {
    min-height: 518px;
    p {
      opacity: 0;
    }
  }
  .h1 {
    p:nth-of-type(2n) {
      @apply text-right;
    }
  }
}
