:root {
  --paper-white: #f5ede2;
  --midnight-blue: #0f0533;
  --leaf-green: #cce39f;
  --morning-blue: #a3dac9;
  --evening-teal: #30989f;
  --sunrise-orange: #eeb993;
  --sunset-pink: #f0b4c4;
  --dusk-purple: #b59fbd;
  --btn-bkg: rgba(254, 253, 253, 0.2);
}
